<p style="color: green"><%= notice %></p>

<% content_for :title, "Memos" %>

<h1><%= t("memo.title") %></h1>

<div id="memos">
  <% @memos.each do |memo| %>
    <%= render memo %>
    <p>
      <%= link_to t("memo.show"), memo %>
    </p>
  <% end %>
</div>

<%= link_to t("memo.new"), new_memo_path %>
